.form{ /*Usado position absolute em vez de display grid*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    padding: 15px;
    width: 50%;
}

.title{
    padding-top: 0px;
}

.input{ 
    width: 600px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 50px;
}

.input:nth-last-child(3){
    padding-bottom: 25px;
}

.input-form{ /*Estilização do input*/
    background: none; /*Deixa o fundo transparente*/
    padding-bottom: 16px; /*Espaço entre o texto e a linha*/
    border: none; /*Sem borda*/
    border-bottom: 1px solid #9e9e9e; /*Cria linha a baixo*/
    outline: none; /*Sem borda ao clicar no input*/
    font-size: 14px;
    width: 100%;
    letter-spacing: 2px; /*Espaçamento das letras*/
}

.label{
    position: absolute; /*Importante para a animação*/
    top: 0px;
    left: 0px;
    pointer-events: none;
    padding-left: 20px;
    transition: .5s;
    color: #9e9e9e;

}

.input-form:focus ~ .label, /*Quando o foco for o input, executa a animção*/
.input-form:valid ~ .label /*E quando estiver preenchido com algo, mantem animação*/{
    top: -20px;
    font-size: 12px;
}

.btn-cadastrar, .btn-lista{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);

}

.btn-cadastrar{
    text-transform: uppercase;
    color: #fff;
    width: 130px;
    height: 35px;
    font-size: 13px;
    background-color: #26a69a;
    border: none;
    border-radius: 3px;
    margin-right: 2px;

}

.btn-cadastrar:hover{
    background-color: #53c9bd;
}

.btn-lista{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 8px 22px;
    padding-bottom: 10px;
    font-size: 13px;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
   
}

.btn-lista:hover{
    background-color: #60c763;
}

